@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;400;500&display=swap');

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
    }
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .page {
        width: 210mm;
        min-height: 297mm;
        padding: 13mm;
        margin: 10mm auto;
        border: 0.5px #D3D3D3 solid;
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        overflow:hidden;
    }
    .subpage {
        padding: 1cm;
        border: 5px red solid;
        height: 257mm;
        outline: 2cm #FFEAEA solid;
    }
    img{
        float:left;
    }
    .pic{
           width: 40mm;
           height: 40mm;
           object-fit: contain;
    }

    .title_container{
        height:40mm;
        position:relative;
        margin-left:42mm;
 }
    .info_container{
        float:right;
       height:40mm;
       width:44mm;
       margin-left:4mm;
       margin-top:10mm;
    }
    .title_text{
        margin-left:5mm;
        top:30%;
        height:45mm;
        position:absolute;
    }

    .header_container{
    }

    .context_container{
        margin-top:4mm;
    }

    .main_column{

           padding-left:2mm;
           padding-right:2mm;
    }

    .shorter_column{
        background-color:#EBEBEB;
        height:247mm;
        width:48mm;
        float:left;
        padding-left:2mm;
        padding-right:2mm;
    }

    p.name_ch{
        font:14mm "DFKai-SB", "STKaiti", sans-serif;
        margin:0;
    }

    .font_first{
        margin-top: 8mm;
        font:5mm "Noto Sans TC", sans-serif;
        font-weight:400;
    }

    .info{
         margin-top: 4mm;
      font:3.5mm "Noto Sans TC", sans-serif;
       font-weight:350;
    }

    .info_en{
        margin-top: 4mm;
       font:2.8mm "Noto Sans TC", sans-serif;
       font-weight:350;
    }

    .important{
        margin-top: 8mm;
         font:4mm "Noto Sans TC", sans-serif;
         font-weight:500;
    }

    .important_en{
         margin-top: 8mm;
        font:3.5mm "Noto Sans TC", sans-serif;
         font-weight:500;
    }

    .description{
         margin-top: 2mm;
       font:3.5mm "Noto Sans TC", sans-serif;
        font-weight:200;
    }

    .description_en{
          margin-top: 2mm;
          font:3.2mm "Noto Sans TC", sans-serif;
            font-weight:200;
        }

    .detail{
          margin-top: 4mm;
             font:3mm "Noto Sans TC", sans-serif;
               font-weight:200;
            }

    ul{
    margin:0;
    margin-left:2mm;
    padding-left:3.5mm;
    padding-right:1mm;
    }



    @page {
        size: A4;
        margin: 0;
    }
    @media print {
        html, body {
            width: 210mm;
            height: 297mm;
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }