<div class="header_container">
	<div>
		<img src="{{ '/assets/headshot.jpg' | relative_url }}" alt="{{ site.data[page.lang].name }}" class="pic"/>
	</div>
	<div class="info_container">
		
		<a href="{{ site.data[page.lang].github_url | escape }}">
			<i class="fa fa-github"></i>
			{{ site.data[page.lang].github_text }}
		</a>
		
		<a href="{{ site.data[page.lang].linkedin_url | escape }}">
			<i class="fab fa-linkedin"></i>
			{{ site.data[page.lang].linkedin_text }}
		</a>
		
		<a href="mailto:{{ site.data[page.lang].email | escape }}">
			<i class="fas fa-envelope-square"></i>
			{{ site.data[page.lang].email }}
		</a>
		
		<a href="tel:{{ site.data[page.lang].phone | escape }}">
			<i class="fas fa-phone-square-alt"></i>
			{{ site.data[page.lang].phone }}
		</a>
	
	</div>
	<div class="title_container">
		<div class="title_text">
			<p class="name_ch">{{ site.data[page.lang].name }}</p>
		</div>
		
			<i class="fas fa-graduation-cap" style="font-size:14px; position:absolute; top:80%; margin-left:3mm">
				<a href="https://www.nycu.edu.tw/nycu/ch/index">{{ site.data[page.lang].education }}</a>
			</i>
		
		<hr style="border-top: 1.5px solid #00000; position:relative; top:95%; margin-left:3mm;">
	</div>
</div>

<div class="context_container">
	<div class="main_column">
		{% for job in site.data[page.lang].jobs %}
		<div class="important">
			{{ job.title }}, <a href="{{ job.company_url | escape }}">{{ job.company }}</a>
			<span class="detail">{{ job.location }} | {{ job.duration }}</span>
		</div>
		<div class="info">{{ job.skills }}</div>
		<ul>
			{% for achievement in job.achievements %}
			<li class="description">{{ achievement }}</li>
			{% endfor %}
		</ul>
		{% endfor %}
		
		<div class="font_first">{{ site.data[page.lang].side_project_title }}</div>
		{% for project in site.data[page.lang].side_projects %}
		<div class="info">
			<a href="{{ project.url | escape }}">{{ project.name }}</a>
			<span class="description">{{ project.description }}</span>
		</div>
		<div class="info">{{ project.technologies }}</div>
		{% endfor %}
	</div>
</div>